@inherits MeltComponentBase

<div class="d-flex flex-column align-items-center p-2">
    <p class="text-muted">
        <Icon Glyph="spinner" Size="EIconSize.X3" Weight="EIconWeight.Solid" Class="@IconClass"></Icon>
    </p>
    <div class="lead">@LoadingMessage</div>
</div>

@code {
    [Parameter]
    public string LoadingMessage {get; set;}

    protected string IconClass => new CssBuilder()
       .AddClass("fa-spin")
       .AddClass(Class)
       .Build();
}
