@page "/"
@using HomeOrganiser.Components

<PageTitle>Dashboard</PageTitle>

<h1>Dashboard</h1>

<UtilityCard UtilityType="Core.Enums.EUltityType.Gas" ContractLength="12" CurrentPrice="22.39f" Provider="Octopus" />
